Flask==2.0.1
psycopg2-binary==2.9.7
Flask-SQLAlchemy==2.5.1
cryptography==3.4.7
requests==2.26.0
python-decouple==3.8
python-dotenv==1.0.0
rollbar==0.16.3

black==23.9.1
flake8==5.0.4
pip-tools==7.3.0
